#inicio {
    padding-top: 150px;
    align-items: center;
    display: flex;
    text-align: end;
    max-width: 65rem;
    margin: 0 auto;
    margin-top: 30px;
}

.profile {
    text-align: left;
    line-height: 1.5;
    width: 80%;
}

.profile h1 {
    display: block;
    font-family: "Poppins";
    white-space: nowrap;
    border-right: 4px solid ;
    font-size: 2.5em;
    margin-top: 20px;
    width: 20ch;
    animation: typing 2s steps(22),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.profile span {
    background: var(--gradientPrimary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.profile p {
    font-size: 1.2em;
    width: 80%;
}

.icons-redes-sociales  {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icons-redes-sociales i {
    width: 3rem; 
    height: 3rem;
    padding: 0.5rem; 
    margin: 5px;
    border-radius: 100%;
    box-shadow: 0px 1px 20px rgba(70, 62, 181, 0.5);
    background-color: var(--colorPrimary);
    color: var(--colorComplementaryPrimary);
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5em;
}

.icons-redes-sociales i:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.3s;
}

picture img {
    border-radius: 50%;
    object-fit: cover;
    animation: crecerSombra 3s infinite;
    width: 85%;
}


@keyframes crecerSombra {
    0% {
        box-shadow: 40px 0 100px var(--colorSecondary),
        -40px 0 100px var(--colorSecondary);
    }
    50% {
        box-shadow: 0px 1px 20px 2cap rgba(70, 62, 181, 0.5); 
    }
    100% {
        box-shadow: 40px 0 100px var(--colorSecondary),
        -40px 0 100px var(--colorSecondary); 
    }
}


@media (max-width: 1024px){

    #inicio {
        max-width: 45rem;
    }
    
    .profile {
        width: 70%;
    }
    
    .profile h1 {
        font-size: 1.8em;
    }
    
    .profile p {
        font-size: 1.2em;
        width: 95%;
    }
    
    picture img {
        width: 90%;
        margin-left: 2.5rem;
    }    
        
}